.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
  }
  
  .logo {
    width: 15vw;
    height: 20vh; 
    margin-right: 25px; 
  }
  
  .nav-links {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex: 1; 
    transform: translateX(-10%); 
  }
  
  .nav-links a {
    color: #F1DAC4;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #333; 
    color: #A69CAC;
  }
  
  .profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
  }
  