.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .logo {
    width: 150px;
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: #F1DAC4;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #F1DAC4;
  }
  
  .profile-icon {
    font-size: 1.5rem;
    color: #F1DAC4;
  }
  