.search-bar-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #F1DAC4; 
    border-radius: 30px; 
    overflow: hidden;
    background-color: transparent; 
    width: 100%;
    max-width: 500px; 
  }
  
  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 1rem;
    background: transparent; 
    color: #F1DAC4; 
  }
  
  .search-input::placeholder {
    color: #F1DAC4; 
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #F1DAC4; 
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
  }
  