.tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.tabs {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

.tab {
  background: none;
  border: none;
  font-size: 1rem;
  color: #f1dac4;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.2s ease;
  font-family: "Georgia", serif;
}

.tab.active {
  background-color: #333;
  color: #f1dac4;
}
.filter-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 0;
}
.filter-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .tabs-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .tabs {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }

  .filter-button {
    margin-top: 10px;
    align-self: center;
  }
}
@media (max-width: 480px) {
  .tabs {
    gap: 8px;
    left: 20;
  }

  .tab {
    font-size: 0.8rem;
    padding: 5px 6px;
  }

  .filter-button {
    align-self: center;
    margin-top: 15px;
    background-color: transparent;
  }
}
