.forum {
    background-color: #0d0d24;
    color: #F1DAC4;
    min-height: 100vh;
    padding: 20px;
  }
  
  .forum-title {
    color: #F1DAC4;
    font-family: Manuale;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-top: 20px;
  }
  
  
  .forum-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .details-sidebar h1 {
    color: #F1DAC4;
    font-family: Manuale;
  }

  .details-sidebar {
    width: 220px;
    margin-right: 20px;
    background-color: #1a1a2e;
    padding: 20px;
    border-radius: 10px;
    color: #F1DAC4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .details-sidebar h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #F1DAC4;
    font-family: 'Georgia', serif;
  }
  
  .details-sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .details-sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
    font-family: 'Georgia', serif;
  }
  
  .details-sidebar li:hover {
    color: #F1DAC4;
  }
  
  .section-title {
    font-size: 1.5rem;
    color: #F1DAC4;
    margin-bottom: 10px;
    text-align: center; 
    font-family: 'Georgia', serif;
  }
  
  
  .top-lists {
    margin-top: 20px;
  }

  
  
  .main-content {
    display: flex;
    margin-top: 20px;
  }
  
  .movie-lists {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .filter-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  